h1 {
  text-align: center
}

/* Images */
#images {
  padding: 12px;
}

#images > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.image-row img {
  width: 180px;
  height: 120px;
}

/* Cards */
#cards {
  padding: 12px;
}

#cards > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card-row {
  padding: 12px;
  background-color: #292d33;
  border-radius: 5px;
  color: #FFFFFF;
}

/* Clickable Dividers */
#clickDivs {
  padding: 12px;
}

#clickDivs > div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.clickDiv-row {
  background-color: #292d33;
  padding: 12px;
  width: 100%;
  color: #FFFFFF;
  cursor: pointer;
}