.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Images */
#images {
  padding: 12px;
}

#images > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.image-row img {
  width: 180px;
  height: 120px;
}

/* Cards */
#cards {
  padding: 12px;
}

#cards > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card-row {
  padding: 12px;
  background-color: #292d33;
  border-radius: 5px;
  color: #FFFFFF;
}

/* Clickable Dividers */
#clickDivs {
  padding: 12px;
}

#clickDivs > div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.clickDiv-row {
  background-color: #292d33;
  padding: 12px;
  width: 100%;
  color: #FFFFFF;
  cursor: pointer;
}